<div class="row">
  <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Keresés</mat-label>
        <input matInput>
      </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-label>Kategória</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <button mat-button color="primary">Keresés
      <mat-icon inline>search</mat-icon>
    </button>

  </div>
</div>
