<div class="content">
  <div *ngIf="count != 0" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  [fxFlex]="(100/4) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let menuItem of menuItems">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{menuItem.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Pizza_Margherita_stu_spivack.jpg">
          <mat-card-content>
            <p>
              {{menuItem.description}}
            </p>
            <span>Hozzávalok:</span>
            <div *ngFor="let ingredient of menuItem.ingredients">
            <span class="p-2 m-2 text-bg-info rounded-3">{{ingredient.name}}</span>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
